.sidebar {
  height: 300px;
  width: 270px;
  /* border: 1px solid; */
  display: grid;
  grid-template-columns: 270px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: fixed;
}

.form {
  width: 270px;
}

.filter-button {
  width: 100px;
  left: 80px;
  height: 30px;
}
